<div class="container" style="green">

  <div class="header" style = "green">
    <%= cl_image_tag user.photo.key, transformation: [
    {width: 400, height: 400, gravity: "face", radius: "max", crop: "crop"},
    {width: 200, crop: "scale"}
    ] if current_user.photo %>
    <%= @user.username %>
    <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true %>
  </div>

  <div class="content">
  
    <div class="info">
      <h3>Info</h3>
      <h4>Location</h4>
      <h4>Age</h4>
      <h4>Raridade</h4>
      <h4>Send a message</h4>
      <%= link_to "Editar", edit_user_registration %>
    </div>

    <div class="posts">
      <div class="post-create">
      <%= link_to "Criar um post", new_topic_post(post.id) %>
        <% end %>
      </div>

      <div class="post-list">
        <h3>Atividade</h3>
      </div>
    </div>

    <div class="follow">
    </div>

  </div>

</div>