<div class="container">

  <div class="header">
    <div class="profile-pic">
      <%= cl_image_tag @user.photo.key, transformation: [
      {width: 400, height: 400, gravity: "face", radius: "max", crop: "crop"},
      {width: 200, crop: "scale"}
      ] if @user.photo.attached? %>
    </div>
    <div class="display-name" style = "border: solid;">
      <%= @user.username %>
    </div>
    <div>
        <% if user_signed_in? && current_user.id != @user.id %>
          <%= link_to "Unfollow", unfollow_path(@user.id), method: :post, remote: true %>
          <%= link_to "Follow", follow_path(@user.id), method: :post, remote: true %>
        <% end %>
    </div>
  </div>

  <div class="content">
  
    <div class="info">
      <h3>Info</h3>
      <h6>Location</h6>
      <h6>Age</h6>
      <h6>Raridade</h6>
      <h6>Send a message</h6>
      <%= link_to "Chamar no PV", chatrooms_path, method: :post  %>
      <%= link_to "Editar", edit_user_registration_path if @user == current_user %>
    </div>

    <div class="posts">
      <div class="post-create">
      <%= link_to "Criar um tópico", topics_path if @user == current_user %>
      </div>

      <div class="post-list">
        <h3>Atividade</h3>
        
        <% @topics.each do |topic| %>
        <%= link_to topic.title, topic_path(topic) %>
        <% end %>
      </div>
    </div>

    <div class="follow">
      <h3>Followers</h3>
      <%= @user.followers.count %>
      <h3>Following</h3>
      <%= @user.following.count %>
    </div>

  </div>

</div>