<div class="container sign-up">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="personal-box">
      <div class="form-inputs">
        <div class="personal-data">
          <h3 id="name">Quem sou eu</h3>
          <div class="picture">
            <div class="pic">
              <%= image_tag "", width: 150, class: "hidden", id: "photo-preview" %>
            </div>
            <div class="upload-pic">
              <%= f.input :photo,
                        input_html: { class: 'hidden', id: 'photo-input'},
                        label_html: { class: 'upload-photo'},
                        label: '📷 Sua foto' %>
            </div>
          </div>
          <div class="full-name">
            <div class="first-name">
              <%= f.input :first_name,
                          label: 'Nome',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name" },
                          placeholder: 'Nome',
                          height: '10px' %>
            </div>
            <div class="last-name">
              <%= f.input :last_name,
                          label: 'Sobrenome',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name" },
                          placeholder: 'Sobrenome'%>
            </div>
          </div>
          <div class="address">
            <%= f.input :address,
                        label: 'Cidade',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address" },
                        placeholder: 'Cidade'%>
          </div>
          <div class="birthday">
            <%= f.input :birth_date,
                        label: 'Data de Nascimento',
                        start_year: Date.today.year - 110,
                        end_year: Date.today.year,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "birth_date" }%>
          </div>
          <div class="description">
            <h3 id="name">Minha história</h3>
              <%= f.input :description,
                        label: 'Minha história',
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "description" },
                        placeholder: 'Minha história'%>
          </div>
          <div class="disease">
            <%= f.input :disease_id,

                        collection: Disease.all.map { |disease| [disease.name, disease.id] },
                        label: 'Minha raridade',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "raridade", class: 'multiple-select' },
                        placeholder: 'Minha raridade'%>
          </div>
        </div>

          <div class="login-data">
            <h3 id="name">Meu login</h3>
            <div class="username">
              <%= f.input :username,
                          label: 'Usuário',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "username" },
                          placeholder: 'Username'%>
            </div>
            <div class="email">
              <%= f.input :email,
                          label: 'E-mail',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          placeholder: 'E-mail'%>
            </div>
            <div class="pass">
              <%= f.input :password,
                          label: 'Senha',
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" },
                          placeholder: 'Senha' %>
            </div>
            <div class="pass-confirm">
              <%= f.input :password_confirmation,
                          label: 'Confirme sua senha',
                          required: true,
                          input_html: { autocomplete: "new-password" },
                          placeholder: 'Confirme a senhas' %>
            </div>
          </div>
        </div>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</div>
