<!-- Aqui os posts serão inseridos por tópico -->
<div class="container">
  <h1>Topic <%= @topic.title %> </h1>

  <%= link_to "Criar Post", new_topic_post_path(@topic), class: "btn btn-primary" %>

  <div>
    <% @topic.posts.each do |post|%>
      <p>  <%= post.content %> - <%= link_to "Editar", edit_post_path(post) %> </p>
    <% end %>
  </div>
  <%= link_to "Topicos", topics_path %>
</div>
