<!-- Aqui os posts serão inseridos por tópico -->
<div class="container">
  <div>
    <h1>Topic <%= @topic.title %> </h1>
    <p> Criado por <strong><%= @topic.user.first_name %></strong> </p>
    <p> <%= @topic.content %> </p>
  </div>
  <div class="" style= "background-color: white; padding: 10px; border-radius: 5px;">
    <h4>Posts</h4>
    <% @topic.posts.each do |post|%>
      <p> <%= post.user.first_name %> - <%= post.content %> -
        <% if current_user.id == post.user.id %>
        <%= link_to "Editar", edit_post_path(post) %> </p>
        <% end %>
    <% end %>
  </div>
  <div>
    <%= link_to "Criar Post", new_topic_post_path(@topic), class: "btn btn-primary mt-5" %>
  </div>

  <div>
    <%= link_to "Topicos", topics_path %>
  </div>
</div>
