<!-- Aqui os posts ser찾o inseridos por t처pico -->
<div class="container">
  <div>
    <h1>Topic <%= @topic.title %> </h1>
      <p> Criado por <strong><%= @topic.user.first_name %></strong> </p>
        <p> <%= @topic.content %>
          <% if current_user.id == @topic.user_id %>
            <%= link_to "Editar", edit_topic_path(@topic) %> -
            <%= link_to "Apagar t처pico", @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
         <div id='topic_counter' data-controller="topic">
           <span class="d-none" data-target="topic.topicId"> <%= @topic.id %></span>
           <p data-target="topic.counter" > <%= @topic.like_count %> </p>

             <%= link_to like_topic_path(@topic), remote: true, method: :post, data: {target: "topic.button" } do  %>
             <i class="fas fa-thumbs-up" data-action="click->topic#refresh" style="color: #167FFB;" ></i>
             <% end %>

         </div>

      </p>
  </div>

  <div class="" style= "background-color: #C1C1C1; padding: 10px; border-radius: 5px;">
    <h4>Posts</h4>
    <div>
    <% @topic.posts.each do |post|%>
      <p> Postado por <strong> <%= post.user.first_name %> </strong>- <%= post.content %>
        <% if current_user.id == post.user.id %>

        <p> <%= post.like_count %> <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, like_post_path(post), remote: true, method: :post %> </p>
        <li>
        <%= link_to "Editar", edit_post_path(post) %> - <%= link_to "Apagar", post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </li>
        <% end %>
    <% end %>
    </div>
  </div>

  <div>
    <%= link_to "Criar Post", new_topic_post_path(@topic), class: "btn btn-primary mt-5" %>
  </div>

  <div>
    <%= link_to "Voltar aos T처picos", topics_path %>
  </div>
</div>
