<div class= "search-results">
  <ul class="items">
    <% results.each do |result| %>
      <% a = result.searchable %>
      <%= link_to page_path(result) do %>
        <div class="card-search">
          <% if result[:searchable_type] == 'User' %>
            <div class="image-search">
              <%= cl_image_tag a.photo.key, class: 'avatar-large' %>
            </div>
            <div>
              <h6><%= a.first_name %> <%= a.last_name %></h6>
            </div>
            <div>
              <h6><%= a.address %> </h6>
            </div>
            <div>
              <h6><%= a.disease.name %></h6>
            </div>
            <div class="follow-search">
              <% if user_signed_in? && current_user.id != a.id %>
                <% if current_user.is_following?(a.id) %>
                  <%= link_to unfollow_path(a.id), method: :post, remote: true do %>
                    <%= image_tag 'unfollow.png', width: '20px', height: '20px' %>
                  <% end %>
                <% else %>
                  <%= link_to follow_path(a.id), method: :post, remote: true do %>
                    <%= image_tag 'follow.png', width: '20px', height: '20px' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% elsif result[:searchable_type] == 'Topic'%>
            <div>
              <%= a.title %>
              <%= a.content %>
            </div>
          <% else %>
            <div>
              <%= a.name %>
              <%= a.cid_10 %>
            </div>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </ul>
  <%# raise %>
</div>
