  <div class="topics" >

    <div><h1>Atividade</h1></div>

      <% topics.each do |t| %>
        <div class="card">
          <%= cl_image_tag t.user.photo.key, class: "avatar" %>
          <h5>Criado por <strong> <%= t.user.first_name %></strong> </h5>
          <p> <%= t.created_at.strftime("%d-%m-%Y") %>: <%= link_to t.title, topic_path(t) %> </p>
          <p> <%= t.content %> </p>

        </div>
      <% end %>
  <%#= link_to "Novo tópico", new_topic_path, class: "btn btn-primary mt-2" %>
  </div>

