<div class="container">
  <div class="container-home">
    <div class="profile-informations">

      <div>
        <%= image_tag 'back-banners.jpg', class: 'background-image-card' %>
      </div>

      <div class="info-card-home">
        <div class="user-photo" >
        <% if current_user%>
          <%= link_to page_path(current_user) do %>
            <%= cl_image_tag current_user.photo.key, width: '100%', height: "250px", class: 'avatar-xlarge' %>
          <% end %>
        <% end %>
        </div>

        <div class="user-name">
          <p><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
        </div>



        <div class="idade">
          <span class="info-user-line-age" ><i class="fas fa-birthday-cake"  style="font-size: 18px"></i></span>
          <%= @age if current_user %> anos
        </div>
        <div class="disease-name">
          <span class="info-user-line-disease"><%= image_tag 'clover_transparent.png', width: '20px'%>
          <%= current_user.disease.name.capitalize %>
        </div>

      </div>
    </div>

    <div class="feed-news">
      <div class="new-topic-navbar">
        <div class="home-icone">
          <%= link_to followers_path do %>
            <i class="fas fa-user-friends" style="font-size: 28px"></i>

            <%#= image_tag 'home_transparent.png', width: '29px' %>
          <% end  %>
        </div>
        <div class="post-it">
          <%= link_to new_topic_path, data: {toggle: "modal", target: "#topicModalCenter"} do %>
            <i class="far fa-edit" style="font-size: 28px"></i>
            <%#= image_tag 'edit.png', width: '28px' %>
          <% end %>
          <div class="modal fade" id="topicModalCenter" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <%= simple_form_for Topic.new, remote: true do |f| %>
                  <div class="modal-header">
                    <%= f.input :title, label: false, placeholder: "Título", width: '100%' %>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= f.input :content, label: false, placeholder: "Conteúdo" %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="chat">
          <%= link_to chatrooms_path do %>
            <i class="far fa-comment-dots " style="font-size: 28px"></i>
            <%#= image_tag 'chat.png', width: '25px' %>
          <% end  %>
        </div>

        <i class="far fa-map" style="font-size: 27px" data-toggle="modal" data-target=".bd-example-modal-lg"></i>
         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <div id="map"
                 style="width: 60vw; height: 50vh; border-radius: 5px;"
                 data-markers="<%= @markers.to_json %>"
                 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
               </div>
             </div>
           </div>
         </div>
       </div>
        <div>
          <%= render partial: "shared/topics", locals: { topics: @topics } %>
          <%= paginate @topics, theme: 'twitter-bootstrap-4' %>
       </div>
    </div>
    <div class="more">
      <div class="follows">
        <div class="followings-home">
          <%= render 'shared/followings', followings: current_user.following %>
        </div>

        <div class="followers-home">
          <%= render 'shared/followers', followers: current_user.followers %>
        </div>
      </div>
    </div>
  </div>
</div>
