<div class="container">
  <div class="container-home">
    <div class="profile-informations">
      <div>
        <%= image_tag 'back-banners.jpg', class: 'background-image-card' %>
      </div>
      <div class="user-photo" >
      <% if current_user%>
        <%= link_to page_path(current_user) do %>
          <%= image_tag current_user.photo, width: '100%', height: "250px", class: 'avatar-xlarge' %>
        <% end %>
       <% end %>
      </div>
      <div class="user-name">
        <h2><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h2>
      </div>
      <div class="informations">
        <div class="idade">
          <i class="fas fa-birthday-cake"></i>
          <%= @age if current_user %>
        </div>
        <div class="disease-name">
          <i class="far fa-gem"></i>
          <%= current_user.disease.name.capitalize %>
        </div>
      </div>
    </div>

    <div class="feed-news">
      <div class="new-topic-navbar">
        <div class="home-icone">
          <%= link_to root_path do %>
            <%= image_tag 'home.svg', width: '25px' %>
          <% end  %>
        </div>
        <div class="post-it">
          <%= link_to new_topic_path, data: {toggle: "modal", target: "#topicModalCenter"} do %>
            <%= image_tag 'post.png', width: '25px' %>
          <% end %>
          <div class="modal fade" id="topicModalCenter" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <%= simple_form_for Topic.new, remote: true do |f| %>
                  <div class="modal-header">
                    <%= f.input :title, label: false, placeholder: "Título", width: '100%' %>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= f.input :content, label: false, placeholder: "Conteúdo" %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "Post", class: "btn btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="chat">
          <%= link_to chatrooms_path do %>
            <%= image_tag 'chat.png', width: '25px' %>
          <% end  %>
        </div>

        <button type="button" class="fas fa-map" data-toggle="modal" data-target=".bd-example-modal-lg"></button>
         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <div class="map-home">
                 <div id="map"
                   style="width: 100%; height: 20vw; border-radius: 5px;"
                   data-markers="<%= @markers.to_json %>"
                   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
        <div>
          <%= render partial: "shared/topics", locals: { topics: @topics } %>
          <%= paginate @topics, theme: 'twitter-bootstrap-4' %>
       </div>
    </div>
    <div class="more">
      <div class="follows">
        <div class="followings-home">
          <%= render 'shared/followings', followings: current_user.following %>
        </div>

        <div class="followers-home">
          <%= render 'shared/followers', followers: current_user.followers %>
        </div>
      </div>
      <div>
         <%= render "shared/chatrooms", my_chatrooms: @my_chatrooms, chatrooms: @chatrooms %>
      </div>
    </div>
  </div>
</div>
