<div class="container">

  <h4>Resultados da busca:</h4>

  <% @results.each do |result| %>
    <% a = result.searchable %>
      <% if result[:searchable_type] == 'User' %>
        <%= link_to page_path(a) do %>
          <div class="search-user-card">
            <div class="info-inside-search">
              <%= cl_image_tag a.photo.key, class: 'avatar-large' %>

              <div class="search-all-info">
                <p style="font-weight:bold"><%= a.first_name %> <%= a.last_name %></p>
                <p><%= a.address %></p>
                <p><%= a.disease.name %></p>
              </div>
            </div>

            <div class="follow-search">
              <% if user_signed_in? && current_user.id != a.id %>
                <% if current_user.is_following?(a.id) %>
                  <button type="button" class="btn btn-success"><%= link_to "Deixar de seguir", unfollow_path(a.id), method: :post, remote: true %></button>
                <% else %>
                  <button type="button" class="btn btn-success"><%= link_to "Seguir", follow_path(a.id), method: :post, remote: true  %></button>
                <% end %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% elsif result[:searchable_type] == 'Topic'%>
        <div class="search-post">
          <div class="search-post-title">
            <strong><%= a.title %></strong>
          </div>
          <div class="search-like">
            <div class="search-content">
              <%= a.content %>
            </div>
            <div class="search-menu-topic">
              <% if current_user.id == a.user_id %>
                <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_topic_path(a) %>
                <%= link_to  '<i class="far fa-trash-alt"></i>'.html_safe, a, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
                <div id='topic_counter' data-controller="topic" class="like-button">
                  <span class="d-none" data-target="topic.topicId"> <%= a.id %></span>
                  <p data-target="topic.counter" style="margin-right: 5px;" > <%= a.like_count %></p>
                    <%= link_to "#", remote: true, data: {target: "topic.button" } do  %>
                    <i class="fas fa-thumbs-up" data-action="click->topic#refresh" ></i>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      <% elsif result[:searchable_type] == 'Disease' %>
        <div class="search-disease-card">
          <p><i class="fas fa-stethoscope fa-2x"></i></p>
          <p style="font-weight:bold"><%= a.name %></p>
          <p style="font-weight:bold"><%= a.cid_10 %></p>
        </div>

        <% a.users.each do |user| %>
          <div class="search-user-card">
            <%= link_to page_path(user) do %>
              <div class="info-inside-search">
                <%= cl_image_tag user.photo.key, class: 'avatar-large' %>
                <div class="search-all-info">
                  <p style="font-weight:bold"><%= user.first_name %> <%= user.last_name %></p>
                  <p ><%= user.address%></p>
                </div>
              </div>
            <%end%>

            <div class="follow-search">
              <% if user_signed_in? && current_user.id != a.id %>
                <% if current_user.is_following?(a.id) %>
                  <button type="button" class="btn btn-success"><%= link_to "Deixar de seguir", unfollow_path(a.id), method: :post, remote: true %></button>
                <% else %>
                  <button type="button" class="btn btn-success"><%= link_to "Seguir", follow_path(a.id), method: :post, remote: true  %></button>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end%>
      <% else %>
        <div class="no-results">
          <h5>Não foram encontrados dados para sua pesquisa</h5>
        </div>
      <% end %>
  <% end %>

</div>
