<div class="container">

  <div class="header">
    <div class="profile-pic">
      <%= cl_image_tag @user.photo.key, class: "avatar-xlarge" if @user.photo.attached? %>
    </div>

    <div class="display-name">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
  </div>

  <div class="content">

    <div class="info">
      <h4>Sobre mim</h4>
      <p> <%= @user.description %></p>
      <br>
      <p><i class="fas fa-birthday-cake"></i>  Idade: <%= @age  %></p>
      <p><i class="far fa-gem"></i>  Raridade: <%= @user.disease.name %></p>
        <% if @user != current_user %>
          <p class="btn btn-success btn-block"><i class="far fa-comments"></i> <%= link_to "Diga oi!", chatrooms_path(id: @user.id), method: :post %></p>
        <% end %>
        <% if @user == current_user %>
          <p class="btn btn-success btn-block"><%= link_to "Editar", edit_user_registration_path %></p>
        <% end %>
    </div>

    <div class="middle-col">

      <div class="follow">

        <span>Followers</span> <%= @user.followers.count %>

        <span>Following</span> <%= @user.following.count %>

      <% if user_signed_in? && current_user.id != @user.id %>
        <% if current_user.is_following?(@user.id) %>
          <span class="btn btn-success  btn-block"> <%= link_to "Unfollow", unfollow_path(@user.id), method: :post, remote: true %></span>
        <% else %>
          <span class="btn btn-success btn-block"><%= link_to "Follow", follow_path(@user.id), method: :post, remote: true %></span>
        <% end %>
        <% end %>
      </div>

      <% if @user == current_user %>
        <span class= "post-create btn btn-success btn-block"><%= link_to "Criar um post", topics_path %></span>
      <% end %>

      <div class="post-list">
        <h4>Últimos posts</h4>

        <ul class="items">
        <% @topics.last(3).each do |topic| %>
        <li><%= cl_image_tag @user.photo.key, class: "avatar" %>
        <%= link_to topic.title, topic_path(topic) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

